body{
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background:linear-gradient(120deg,#863277,#44ad6e);
  height: 100vh;
  overflow: hidden;
}
.center{
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  width: 400px;
  background: white;
  border-radius:10px;

}
.center h1{
  position: relative;
  bottom: -10px;
    font-weight: bold;
  text-align: center;
  padding: 0 0 20px 0;
  border-bottom:2px solid rgb(17, 57, 120) ;
}
.center form{
  padding: 0 40px;
  box-sizing: border-box;
}
form .txt_field{
  position: relative;
  border-bottom:2px solid #adadad ;
  margin: 40px 0;
}
.txt_field input{
  width: 100%;
  padding: 0 5px;
  height: 40px;
  font-size: 16px;
  border: none;
  background: none;
  outline: none;
}
.txt_field label{
  position: absolute;
  bottom:40px;
  left: 5px;
  font-size: 16px;
  pointer-events: none;
  color: #2691d9;
}
.txt_field span::before{
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 0%;
    height: 2px;
    background: #2691d9;
    transition: .5s;
}
.txt_field  input:focus ~ label,
.txt_field  input:valid ~ label
{
  color: #2691d9;
}
.txt_field input:focus ~ span::before,
.txt_field input:valid ~ span::before

{
  width: 100%;
}

.pass{
  margin: -5px 0 20px 5px;
  color: #a6a6a6;
  cursor: pointer;
}
.pass:hover{
  text-decoration: underline;
}
button a{
  position: relative;
  left: 130px;
  bottom:-13px;
}
button {
  width: 100%;
  height: 50px;
  border: 1px solid;

  border-radius: 25px;
  font-size: 18px;

  font-weight: 70;
  cursor: pointer;
  outline: none;
}
button:hover{
  background-color: #2691d9;
  transition: .5s;
}
.signup_link{
  margin: 30px 0;
  text-align: center;
  font-size: 16px;
  color: #666666;
}
.signup_link a{
  color: #2691d9;
  text-decoration: none;
}
.signup_link a:hover{
  text-decoration: underline;
}
small{
  color: red;
  position: relative;
  top:-20px;
}
