<body>
  <div class="center">
    <h1>Set New Password</h1>
    <br>
    <form [formGroup]="forgotpassword" (ngSubmit)="forgotPasswordData(forgotpassword)">
      <div class="txt_field">
        <input type="text" formControlName="name" placeholder="Ex:Dharun123" pattern required>
        <span></span>
        <label>Username:</label>
      </div>
      <div *ngIf="forgotpassword.controls['name'].invalid&&(forgotpassword.controls['name'].dirty||forgotpassword.controls['name'].touched)">
        <small *ngIf="forgotpassword.controls['name'].errors?.['required']">Please enter Username</small>
        <small *ngIf="forgotpassword.controls['name'].errors?.['pattern']">!!Minimum eight characters, at least one uppercase letter, one lowercase letter and one number.</small>
      </div>
      <div class="txt_field">
        <input type="password" name="setpassword" formControlName="setpassword" placeholder="Ex:Aspire@123" pattern required>
        <span></span>
        <label>Set new Password:</label>
      </div>
      <div *ngIf="forgotpassword.controls['setpassword'].invalid&&(forgotpassword.controls['setpassword'].dirty||forgotpassword.controls['setpassword'].touched)">
        <small *ngIf="forgotpassword.controls['setpassword'].errors?.['required']">!!Please enter password</small>
        <small *ngIf="forgotpassword.controls['setpassword'].errors?.['pattern']">!!Minimum eight and maximum 10 characters, at least one uppercase letter, one lowercase letter, one number and one special character.</small>
      </div>
      <div class="txt_field">
        <input type="password" name="cpassword" formControlName="cpassword" required/>
        <span></span>
        <label>Confirm Password:</label>
      </div>
      <div *ngIf="forgotpassword.controls['cpassword'].invalid&&(forgotpassword.controls['cpassword'].dirty||forgotpassword.controls['cpassword'].touched)">
        <small *ngIf="forgotpassword.controls['cpassword'].errors?.['required']">!!Please Re-enter password</small>
        <small *ngIf="forgotpassword.controls['cpassword'].errors?.['confirmedValidator']">!!Unmatched</small>
      </div>
    <div class="space">
      <button [disabled]="!forgotpassword.valid"  type="submit" mat-raised-button>CONFIRM</button>
    </div>
    </form>
  </div>
</body>
