<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
  <div class="bg-image">
 <div class="home">
     <div class="home_left">
      <h1>The fresh and<br>Organic<span>Juices</span></h1>
      <p>     Fruit juice is a beverage that is made by extracting the juice from fruits. It is a popular drink that is consumed all over the world, and is available in many different varieties and flavors. Some of the most common types of fruit juice include orange juice, apple juice, grape juice, and lemon juice.</p>
      </div>
    <div class="home_right anim">
      <img src="https://th.bing.com/th/id/OIP.0apO93Wv1-I27ySdl1zf8QHaEK?w=281&h=180&c=7&r=0&o=5&dpr=1.4&pid=1.7">

  </div>
  </div>
    <div class="about" >
      <div class="about_image anim">
        <img src="https://th.bing.com/th/id/OIP.uxzHlk-sW-w1QAAhqRHGcwHaEs?w=248&h=180&c=7&r=0&o=5&dpr=1.4&pid=1.7">
      </div>
      <div class="about_tag">
         <h1>About Us</h1>
         <p>    Welcome to Juice World Shop, where we're passionate about serving up fresh, delicious, and healthy juices to our customers! Our shop was founded with the goal of providing an alternative to the sugary, processed drinks that are so prevalent in today's fast-paced world.</p>
      </div>
    </div>
    <div class="healthy">
      <h1>Healthy Juices</h1>
      <div class="products">
        <p>     We believe that drinking fresh juice is one of the best ways to give your body the vitamins, minerals, and antioxidants it needs to function at its best. That's why we source only the freshest fruits and vegetables for our juices, and use a cold-press process to ensure that every drop is packed with nutrients and flavor. </p>

      <div class="products_box">
        <div class="products_card"><a [routerLink]="['/Purchase']">
          <div class="products_img">
            <img src="https://tse2.mm.bing.net/th?id=OIP.yVbsKVU9zz4ZvK88uoAWfgHaHa&pid=Api&P=0">
          </div>
          <div class="products_tag">
            <h2>Apple</h2>
            <li>
              Calories 117 </li>
             <li> Fat 0.27g </li>
              <li>Carbon 28.97g </li>
              <li>Protein 0.15g  </li>
          </div>
          </a>
        </div>
        <div class="products_card"><a [routerLink]="['/Purchase']">
          <div class="products_img">
            <img src="https://tse4.mm.bing.net/th?id=OIP.O2at9d7JkZdSQVrZft3PoQHaFj&pid=Api&P=0">
          </div>
          <div class="products_tag">
            <h2>Orange</h2>
            <li>
              Calories 112 </li>
             <li> Fat 0.5g </li>
              <li>Carbon 25.79g </li>
              <li>Protein 1.74g  </li>
          </div>
          </a>
        </div>
        <div class="products_card"><a [routerLink]="['/Purchase']">
          <div class="products_img">
            <img src="https://tse1.mm.bing.net/th?id=OIP.ZlifecsWJV55qGjMXrR4WAHaFc&pid=Api&P=0">
          </div>
          <div class="products_tag">
            <h2>Mango</h2>
            <li>
              Calories 140 </li>
             <li> Fat 0g </li>
              <li>Carbon 35g </li>
              <li>Protein 0g  </li>
          </div></a>
        </div>
        <div class="products_card"><a [routerLink]="['/Purchase']">
          <div class="products_img">
            <img src="https://tse4.mm.bing.net/th?id=OIP.hlFbCd13zOVmHA81UPVbSAHaGq&pid=Api&P=0">
          </div>
          <div class="products_tag">
            <h2>Pineapple</h2>
            <li>
              Calories 132 </li>
             <li> Fat 0.3 </li>
              <li>Carbon 32.18g </li>
              <li>Protein 0.9g  </li>
          </div>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div>
  <div class="services">
    <div class="services_box">
      <div class="services_card">
        <div class="fa fa-motorcycle" ></div>
        <div class="services_tag">
         <h2>Free Fast Delivery</h2>
        </div>
      </div>
      <div class="services_card">
        <div class="fa fa-smile-o" ></div>
        <div class="services_tag">
         <h2>No:1 Quality Juices</h2>
        </div>
      </div>
      <div class="services_card">
        <div class="fa-regular fa fa-money"></div>
        <div class="services_tag">
         <h2>Cash On Delivary</h2>
        </div>
      </div>
      <div class="services_card">
        <div class="fa fa-clock-o" ></div>
        <div class="services_tag">
         <h2>Available from 9am-10pm </h2>
        </div>
      </div>
    </div>
  </div>
 </div>
  <div class="foot">
  <div class="footer-left">
   <h3> <img  src="https://cdn.freelogodesign.org/files/aa3eebab2b974ffdbe2fee5ae96dbafc/thumb/logo_200x200.png?v=638146499990000000">Juice World</h3>
      <p class="foot-link">
          <a [routerLink]="['/Home']">Home</a>
          |
          <a [routerLink]="['/Login']">Login</a>
          |
          <a  [routerLink]="['/Purchase']">Purchase</a>
      </p>
      <p class="copyrights">Copyright © 2023 <strong>Juice World</strong> All rights reserved</p>
  </div>
  <div class="footer-center">
      <div class="foot-cen">
        <h3>To Contact Us:</h3>
          <i class="fa fa-map-marker"></i>
          <p><span></span>2,south street,selvapuram,<br>Coimbatore-641026</p>
      </div>
      <div class="foot-cen1">
          <i class="fa fa-phone"></i>
          <p>+91 6369810199</p>
      </div>
      <div class="foot-cen2">
          <i class="fa fa-envelope"></i>
          <p>dharun007@gmail.com</p>
      </div>
  </div>
  <div class="footer-right">
      <p class="footer-about-company">
          <span>About the company:</span>
          In our <strong>Juice World</strong> juices are made from selected juicy fruits. Most of the customers give positive feedback about our shop. It is 100% pure, no added sugar, no artificial sweeteners. Buy and take a sip and enjoy the day.
      </p>
      <div class="footer-icons">
          <a href="#"><i class="fa fa-facebook"></i></a>
          <a href="#"><i class="fa fa-instagram"></i></a>
          <a href="#"><i class="fa fa-linkedin"></i></a>
      </div>
  </div>
</div>
</div>
</body>



